@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --bg-color: #F8F9FA;
    --bg-color-dark: #ADB5BD;
    --text-color: #212529;
    --btn-color: #DEE2E6;
    --btn-color-hover: #343A40;
    --transition: all 0.5s ease;
    --padding: 20px;
}



/* =========== GLOBAL CSS ================== */

.btn{
    padding: 10px 20px;
    width: max-content;
    color: var(--text-color);
    background: var(--btn-color);
    transition: var(--transition);
    text-align: center;
}
.btn:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
}

h2{
    font-size: 20px;
    font-weight: 300;
}


.container{
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .container{
        width: 100%;
    }
}
